.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.514);
  height: 100%;
  width: 100%;
  z-index: 5;
  display: grid;
  place-items: center;
}

.modal {
  width: var(--fixed_width);
  max-width: 50rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background: var(--main_dark_light);
  position: relative;
}

.modalCloseBtn {
  position: absolute;
  top: -4%;
  font-size: 4rem;
  right: 0;
  cursor: pointer;
  transition: var(--transition);
  color: var(--main_grey);
}

.modalCloseBtn:hover {
  color: var(--main_dark_light);
}
